body {
    text-align: center;
    background-color: red;
}

h1 {
    font-weight: bold;
    font-style: italic;
    color: lime;
}

p {
    font-weight: bold;
    font-style: italic;
    color: lime;
}